/* :: temperature translator style :: */
:root{ box-sizing: border-box;
    --colorInfoBox: rgb(114, 122, 151);
    --colorInput: rgb(100, 115, 175);
    --colorbtn: rgb(127, 142, 202);
    --colorBorder: rgba(52, 55, 70, 0.815);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.container{ display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%; 
    max-height: 100%;
}

.translator-Temp{ position: relative;
    max-width: 25%; 
    max-height: 25%;
    padding: 0.5%;
    background-color: var(--colorInfoBox);
    border: 0.25rem solid var(--colorBorder);
    border-radius: 1rem;
}

.text-result{ font-size: 160%;
}

.input-Temp{ position: relative;;
    width: 60%;
    height: 2.5%;
    margin: 1%;
    padding: 1%;
    font-size: 190%;
    color: white;
    background: var(--colorInput);
    border-radius: 0.25rem;
    border: 0.2rem solid var(--colorBorder);
}

.result-Temp{ font-size: 160%;
}

/* celsius result button for onclick event JS */
#button-CS:before{ content:'\003D'; font-size: 2rem; color: white;}
#button-CS:hover{ transform: scale(105%);}
#button-CS:active{ opacity: 60%;}
#button-CS{
    width: 25%;
    height: 6%;
    margin: 1.5%;
    background-color:var(--colorbtn);
    border: 0.25rem solid var(--colorBorder);
    border-radius: 0.5rem;
}

/* fahrenheit result button for onclick event JS */
#button-FH:before{ content:'\003D'; font-size: 2rem; color: white;}
#button-FH:hover{ transform: scale(105%);}
#button-FH:active{ opacity: 60%;}
#button-FH{
    width: 25%;
    height: 6%;
    margin: 1.5%;
    background-color:var(--colorbtn);
    border: 0.25rem solid var(--colorBorder);
    border-radius: 0.5rem;
}

@media only screen and (max-width: 940px) {
    .translator-Temp{ max-width: 100%;
        max-height: 100%;
        padding: 2%;}
}

@media (orientation:landscape){
    .translator-Temp{ max-width: 100%;
        max-height: 100%;
        padding: 2%;}
}
